<div class="page-header">
  <h1>Fees for <%= @member.full_name %></h1>
</div>

<%= link_to 'New Fee', new_member_fee_path(@member), role:'button', class:'btn btn-success' %>
<%= render 'shared/csv' %>
<%= render 'shared/breadcrumbs' %>

<table class="data-table">
  <thead>
    <tr>
      <th>Member</th>
      <th>receiver</th>
      <th>Amount</th>
      <th>Payment date</th>
      <th>Payment type</th>
      <th>Payment method</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @fees.each do |fee| %>
      <tr>
        <td>
          <%= link_to image_tag(image_path("vcard.png"), size: "15x15", alt: "profile #{fee.member.full_name}"), member_path(fee.member) %>&nbsp;
          <%= link_to member_name(fee, :member), member_path(fee.member) %>
        </td>
        <td>
          <%= link_to image_tag(image_path("vcard.png"), size: "15x15", alt: "profile #{fee.receiver.full_name}"), member_path(fee.receiver.id) %>&nbsp;
          <%= link_to member_name(fee, :receiver), member_path(fee.receiver.id) %>
        </td>
        <td><%= search_link(fee, :amount) %></td>
        <td><%= search_link(fee, :payment_date) %></td>
        <td><%= search_link(fee, :payment_type) %></td>
        <td><%= search_link(fee, :payment_method) %></td>
        <td>
          <%= link_to 'Show', member_fee_path(@member, fee), role:'button', class:'btn btn-info'  %>&nbsp;
          <%= link_to 'Edit', edit_member_fee_path(@member, fee), role:'button', class:'btn btn-primary'  %>&nbsp;
          <%= link_to 'Destroy', member_fee_path(@member, fee), role:'button', class:'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

