<%= form_for([@member, @time_bank]) do |f| %>
  <% if @time_bank.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(@time_bank.errors.count, "error") %> prohibited this time_bank from being saved:</h2>

      <ul>
      <% @time_bank.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :member_id %><br>
    <%= member_name(@time_bank) %>
    <%= f.hidden_field :member_id %>
  </div>
  <div class="field">
    <%= f.label :admin_id %><br>
    <%= f.select :admin_id, @admins, include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :committee_id %><br>
    <%= f.select :committee_id, @committees, include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :time_type %><br>
    <%= f.select :time_type, @time_types, include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :approved %> <%= f.check_box :approved %>
  </div>
  <div class="field">
    <%= f.label :start %><br>
    <%= f.datetime_select :start, default: DateTime.current-4.hours %>
  </div>
  <div class="field">
    <%= f.label :finish %><br>
    <%= f.datetime_select :finish %>
  </div>

  <%= f.fields_for :notes, [@time_bank.notes.build] do |builder| %>
    <%= render "shared/note", f: builder %>
  <% end %>

  <div class="actions">
    <%= f.submit role:'button', class:'btn btn-success' %>
  </div>
<% end %>
