<div class="page-header">
<h1>Listing Time bank</h1>
</div>

<table>
  <thead>
    <tr>
      <th>Member</th>
      <th>Admin</th>
      <th>Committee</th>
      <th>Start</th>
      <th>Finish</th>
      <th>Time type</th>
      <th>Approved</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @time_banks.each do |time_bank| %>
      <tr>
        <td><%= member_name(time_bank, :member) %></td>
        <td><%= member_name(time_bank, :admin) %></td>
        <td><%= committee_name(time_bank) %></td>
        <td><%= time_bank.start %></td>
        <td><%= time_bank.finish %></td>
        <td><%= time_bank.time_type %></td>
        <td><%= time_bank.approved %></td>
        <td><%= link_to 'Show', member_time_bank_path(@member, time_bank), role:'button', class:'btn btn-info'  %></td>
        <td><%= link_to 'Edit', edit_member_time_bank_path(@member, time_bank), role:'button', class:'btn btn-primary'  %></td>
        <td><%= link_to 'Destroy', member_time_bank_path(@member, time_bank), role:'button', class:'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New time_bank', new_member_time_bank_path(@member), role:'button', class:'btn btn-success' %>
