<script>
  $(document).ready(function() {
    $('#note').toggle();
  });
</script>
<section>
  <h3 style="display:inline;">Note</h3> <input type=checkbox name="note_toggle" onclick="$('#note').toggle()">
  <div id="note">
    <%= f.hidden_field :commentable_id  %>
    <%= f.hidden_field :commentable_type %>
    <%= f.hidden_field :creator_id %>

    <div class="field">
      <%= f.label :note %><br>
      <%= f.text_area :note %>
    </div>
  </div>
</section>
  
