<div class="page-header">
  <h1>Listing Committees</h1>
</div>

<%= link_to 'New committee', new_committee_path, role:'button', class:'btn btn-success' %>
<%= render 'shared/csv' %>
<%= render 'shared/breadcrumbs' %>

<br>
<table class="data-table">
  <thead>
    <tr>
      <th>Member</th>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @committees.each do |committee| %>
      <tr>
        <td>
          <%= link_to image_tag(image_path("vcard.png"), size: "20x20", alt: "profile #{committee.member.full_name}"), member_path(committee.member) %>&nbsp;
          <%= link_to image_tag(image_path("group.png"), size: "15x15", alt: "committees #{committee.member.full_name}"), member_committees_path(committee.member) %>&nbsp;
					<%= member_name(committee, :member) %>
        </td>
        <td>
          <%= link_to image_tag(image_path("clock.png"), size: "15x15", alt: "time bank for #{committee.name}"), committee_time_banks_path(committee) %>&nbsp;
          <%= committee.name %>
        </td>
        <td>
          <%= link_to 'Show', committee, role:'button', class:'btn btn-info'  %>&nbsp;
          <%= link_to 'Edit', edit_committee_path(committee), role:'button', class:'btn btn-primary'  %>&nbsp;
          <%= link_to 'Destroy', committee_path(committee), role:'button', class:'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

