<p id="notice"><%= notice %></p>
<%= render 'shared/csv' %>

<p>
  <strong>Member:</strong>
  <%= @committee.member.full_name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @committee.name %>
</p>

<%= link_to 'Edit', edit_committee_path(@committee), role:'button', class:'btn btn-primary' %>
<%= link_to 'Back', committees_path, role:'button', class:'btn btn-default'  %>
