<%= form_for(@time_bank) do |f| %>
  <% if @time_bank.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(@time_bank.errors.count, "error") %> prohibited this time_bank from being saved:</h2>

      <ul>
      <% @time_bank.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :member_id %><br>
    <%= f.select :member_id, @members, include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :admin_id %><br>
    <%= f.select :admin_id, @admins, include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :committee_id %><br>
    <%= f.select :committee_id, @committees, include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :time_type %><br>
    <%= f.select :time_type, @time_types, include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :approved %><br>
    <%= f.check_box :approved %>
  </div>
  <div class="field form-group">
    <%= f.label :date_worked %><br>
    <div class="input-group col-lg-2" id="datetimepicker-dateworked">
      <%= f.text_field :date_worked, :class => 'form-control' %>
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
  </div>
  <div class="field">
    <%= f.label :hours_worked %><br>
    <%= f.text_field :hours_worked %>
  </div>

  <%= f.fields_for :notes, [@note] do |builder| %>
    <%= render "shared/note", f: builder %>
  <% end %>

  <div class="actions">
    <%= f.submit role:'button', class:'btn btn-success' %>
  </div>
<% end %>
