<div class="page-header">
<h1>Listing Time bank</h1>
</div>

<%= link_to 'New time_bank', new_time_bank_path, role:'button', class:'btn btn-success' %>
<%= render 'shared/csv' %>
<%= render 'shared/breadcrumbs' %>

<table class="data-table">
  <thead>
    <tr>
      <th>Member</th>
      <th>Admin</th>
      <th>Committee</th>
      <th>Time type</th>
      <th>Approved</th>
      <th>Date Worked</th>
      <th>Hours Worked</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @time_banks.each do |time_bank| %>
      <tr>
        <td>
          <%= link_to image_tag("vcard.png", size: "20x20", alt: "profile #{member_name(time_bank, :member)}"), member_path(time_bank.member) %>&nbsp;
					<%= link_to image_tag("clock.png", size: "15x15", alt: "time bank #{member_name(time_bank, :member)}"), member_time_banks_path(time_bank.member) %>&nbsp;
          <%= member_name(time_bank, :member) %>
        </td>
        <td>
          <%= link_to image_tag("vcard.png", size: "20x20", alt: "profile #{member_name(time_bank, :admin)}"), member_path(time_bank.admin_id) %>&nbsp;
          <%= member_name(time_bank, :admin) %>
        </td>
        <td><%= search_link(time_bank, :committee_id){time_bank.committee.name} %></td>
        <td><%= search_link(time_bank, :time_type) %></td>
        <td><%= search_link(time_bank, :approved) %></td>
        <td><%= time_bank.date_worked %></td>
        <td><%= time_bank.hours_worked %></td>
        <td>
          <%- 
            tb_approved = {time_bank: time_bank.attributes}
            tb_approved[:time_bank][:approved] = true
          %>
          <%- unless time_bank.approved? %>
            <%= link_to 'Approve', time_bank_path(time_bank,tb_approved), role:'button', class:'btn btn-success', method: :patch  %>&nbsp;
          <%- end %>
          <%= link_to 'Show', time_bank, role:'button', class:'btn btn-info'  %>&nbsp;
          <%= link_to 'Edit', edit_time_bank_path(time_bank), role:'button', class:'btn btn-primary'  %>&nbsp;
          <%= link_to 'Destroy', time_bank_path(time_bank), role:'button', class:'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

