<!DOCTYPE html>
<html>
  <head>
    <title>Bushwick Food Coop Members</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/<%= bootstrap_version %>/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/<%= bootstrap_version %>/css/bootstrap-theme.min.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js">
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js">
    <![endif]-->
  </head>
  <body role=document>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">BFC Members</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="<%= 'active' if is_controller?('committees') %>">
              <%= link_to 'Committees', committees_path %>
            </li>
            <li class="<%= 'active' if is_controller?('time_banks') %>">
              <%= link_to 'Time Bank', time_banks_path %>
            </li>
            <li class="<%= 'active' if is_controller?('members', 'members/fees') %>">
              <%= link_to 'Members', members_path %>
            </li>
            <%- if @member && @member.id? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Member <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to 'Show', member_path(@member) %> </li>
                <li><%= link_to 'Edit', edit_member_path(@member) %> </li>
                <li class="divider"></li>
                <li><%= link_to 'Committees', member_committees_path(@member) %> </li>
                <li><%= link_to 'Fees', member_fees_path(@member) %> </li>
                <li><%= link_to 'Time Bank', member_time_banks_path(@member) %> </li>
              </ul>
            </li>
            <%- end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container theme-showcase" role="main">
      <section class="flash">
  
        <%- if flash[:notice] %>
          <div class="notice alert-info">
            <%= flash[:notice] %>
          </div>
        <%- end%>
  
        <%- if flash[:alert] %>
          <div class="alert alert-danger">
            <%= flash[:alert] %>
          </div>
        <%- end%>
  
      </section>
  
      <section class="main">
        <div class="<%= controller_name %>">
          <%= yield %>
        </div>
      </section>
    </div>
  
    <script src="//netdna.bootstrapcdn.com/bootstrap/<%= bootstrap_version %>/js/bootstrap.min.js"></script>
  </body>
</html>
