<%= form_for(@member) do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% @member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
	<% if member_admin? || is_current_member? %>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </div>

	<% end %>

  <div class="field">
    <%= f.label :opt_out %><br>
    <%= f.check_box :opt_out %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :phone2 %><br>
    <%= f.text_field :phone2 %>
  </div>
  <div class="field">
    <%= f.label :fax %><br>
    <%= f.text_field :fax %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :address2 %><br>
    <%= f.text_field :address2 %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :country %><br>
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :zip %><br>
    <%= f.text_field :zip %>
  </div>
  <div class="field">
    <%= f.label :contact_preference %><br>
    <%= f.select :contact_preference, @contact_preferences, include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.select :gender, @genders, include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.select :status, @statuses, include_blank: true %>
  </div>
  <%- if current_member.admin? %>
  <div class="field">
    <%= f.label :join_date %><br>
    <%= f.date_select :join_date, start_year: 2009 %>
  </div>
  <div class="field">
    <%= f.label :work_date %><br>
    <%= f.date_select :work_date, start_year: 2009 %>
  </div>
  <div class="field">
    <%= f.label :date_of_birth %><br>
    <%= f.date_select :date_of_birth, start_year: 1900 %>
  </div>
  <div class="field">
    <%= f.label :admin %><br>
    <%= f.check_box :admin %>
  </div>
  <div class="field">
    <%= f.label :membership_agreement %><br>
    <%= f.check_box :membership_agreement %>
  </div>
  <div class="field">
    <%= f.label :monthly_hours %><br>
    <%= f.text_field :monthly_hours %>
  </div>
  <div class="field">
    <%= f.label :membership_discount %><br>
    <%= f.text_field :membership_discount %>
  </div>
  <div class="field">
    <%= f.label :annual_discount %><br>
    <%= f.text_field :annual_discount %>
  </div>
  <% end %>

  <%= f.fields_for :notes, [@note] do |builder| %>
    <%= render "shared/note", f: builder %>
  <% end %>

  <div class="actions">
    <%= f.submit role:'button', class:'btn btn-success'%>
  </div>
<% end %>
