<div class="page-header">
<h1>Listing members</h1>
</div>

<%= link_to 'New Member', new_member_path, role:'button', class:'btn btn-success'  %>
<%= render 'shared/csv' %>
<%= render 'shared/breadcrumbs' %>

<table class="data-table">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Phone2</th>
      <th>Address</th>
      <th>Address2</th>
      <th>Contact preference</th>
      <th>Gender</th>
      <th>Status</th>
      <th>Join date</th>
      <th>Membership agreement</th>
      <th>Membership discount</th>
      <th>Investment discount</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td>
          <%= link_to image_tag(image_path("vcard.png"), size: "15x15", alt: "profile #{member.full_name}"), member_path(member) %>&nbsp;
          <%= search_link(member, :first_name) %>
        </td>
        <td>
          <%= search_link(member, :last_name) %>
        </td>
        <td>
          <%= link_to image_tag(image_path("mail_appt.png"), size: "15x15", alt: "email #{member.email}"), "mailto:#{member.email}" %>&nbsp;
          <%= search_link(member, :email) %>
        </td>
        <td><%= search_link(member, :phone) %></td>
        <td><%= search_link(member, :phone2) %></td>
        <td><%= search_link(member, :address) %></td>
        <td><%= search_link(member, :address2) %></td>
        <td><%= search_link(member, :contact_preference) %></td>
        <td><%= search_link(member, :gender) %></td>
        <td><%= search_link(member, :status) %></td>
        <td><%= search_link(member, :join_date) %></td>
        <td><%= search_link(member, :membership_agreement) %></td>
        <td><%= search_link(member, :membership_discount) %></td>
        <td><%= search_link(member, :investment_discount) %></td>
        <td>
          <%= link_to 'Show', member, role:'button', class:'btn btn-info'  %>&nbsp;
          <%= link_to 'Edit', edit_member_path(member), role:'button', class:'btn btn-primary'  %>&nbsp;
          <%= link_to 'Destroy', member, role:'button', class:'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

